flask

numpy~=1.22.3
pandas~=1.4.1
scikit-learn~=1.0.0
matplotlib

aiofiles~=0.7.0
uvicorn~=0.16.0
fastapi~=0.75.0
starlette~=0.17.1
celery~=4.4.0
redis
python-multipart
requests
flower

torch
torchvision